@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: rgba(0,0,0,0.1);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.nav-links {
  display: flex;
  color: red;
}

.shop-button {
  margin-left: 18.5%;
  margin-top: 12rem;
}

#shop-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#shop-btn:hover {
  transform: scale(1.025);
}

#header-brand {
  font-weight: 400;
  letter-spacing: 0.25rem;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#home-main-text {
  color: white;
}
#home-secondary-text {
  color: white;
  font-weight: 400;
}

.links {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
}

.product-cards-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
}

.product-card {
  width: 15rem;
}

.product-card-imgdiv {
  background-color: rgb(238, 235, 235);
  display: flex;
  justify-content: center;
  
}

.product-card-photo {
  max-height: 15rem;
  padding: 1rem;
}