@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: white;
}

.nav-links {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  color: white;
}

.shop-button {
  margin-top: 33vh;
  margin-left: 20%;
}

#shop-btn {
  width: 7rem;
  height: 2rem;
  cursor: pointer;
}
