@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: rgba(0,0,0,0.1);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.nav-links {
  display: flex;
  color: red;
}

.shop-button {
  margin-left: 18.5%;
  margin-top: 12rem;
}

#shop-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

#shop-btn:hover {
  transform: scale(1.025);
}

#header-brand {
  font-weight: 400;
  letter-spacing: 0.25rem;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#home-main-text {
  color: white;
}
#home-secondary-text {
  color: white;
  font-weight: 400;
}

.links {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.product-cards-container {
  display: flex;
  justify-content: center;
  padding: 2rem 4rem 2rem 4rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.product-card {
  width: 18rem;
  
}

.product-card button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.product-card button:hover {
  background-color: rgb(41, 41, 41);
}

.product-card-imgdiv {
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  height: 18rem;
}

.product-card-photo {
  max-height: 15rem;
  padding: 1rem;
}

.product-card-price {
  margin-top: -1rem;
}

.contact-icons-div {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 2.5rem;
}

.contact-icons {
  font-size: 3.5rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.contact-icons:hover {
  transform: scale(1.15);
}

.contact-text {
  margin-top: 8rem;
  text-align: center;
}


#cart-page {
  height: 100vh;
  position: absolute;
  width: 100vw;
  background-color: rgba(0,0,0,0.65);
  transition:  0.3s ease-in-out;
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

#cart-container {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 25vw;
  background-color: white;
  text-align: center;
  transition:  0.3s ease-in-out;
  transform: translateX(100%);
}


#cart-heading {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.cart-card-img {
  max-width: 80%;
  max-height: 80%;
  padding: 4px 8px 4px 8px;
}

.cart-card-img-container {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
}

.cart-card {
  display: flex;
  gap: 2.5rem;
  margin: 2.5rem;
}

.cart-card-main {
  font-size: 0.75rem;
  flex-grow: 1;
}

.cart-card-quantity {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.qty-btns {
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  width: 1.4rem;
}

.qty-btns:hover {
  background-color: rgb(219, 219, 219);
}

#close-cart {
  cursor: pointer;
}

.cart-buttons {
  width: 75%;
  padding: 6px;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.15s ease-in-out;
}

#close-btn {
  border: 1px solid rgb(255, 131, 131);
  color: rgb(255, 131, 131);
  
}
#close-btn:hover {
  background-color: rgb(255, 131, 131);
  color: white;
}

#checkout-btn {
  border: 1px solid gray;
  color: gray;
}

#checkout-btn:hover {
  background-color: rgb(160, 160, 160);
  color: white;
}